<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kael.hr.mapper.EmployeeMapper">
    <resultMap id="employeeMap" type="com.kael.hr.entity.Employee">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="id_card" property="idCard" />
        <result column="wedlock" property="wedlock" />
        <result column="native_place" property="nativePlace" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="engage_form" property="engageForm" />
        <result column="tiptop_degree" property="tiptopDegree" />
        <result column="specialty" property="specialty" />
        <result column="school" property="school" />
        <result column="begin_date" property="beginDate" />
        <result column="work_state" property="workState" />
        <result column="work_id" property="workId" />
        <result column="contract_term" property="contractTerm" />
        <result column="conversion_time" property="conversionTime" />
        <result column="begin_contract" property="beginContract" />
        <result column="end_contract" property="endContract" />
        <result column="work_age" property="workAge" />
        <association property="department" javaType="com.kael.hr.entity.Department">
            <id column="dept_id" property="id" />
            <result column="department" property="name" />
        </association>

        <association property="jobLevel" javaType="com.kael.hr.entity.JobLevel">
            <id column="jol_id" property="id" />
            <result column="jobLevel" property="name" />
        </association>

        <association property="pos" javaType="com.kael.hr.entity.Position">
            <id column="pos_id" property="id" />
            <result column="pos" property="name" />
        </association>
        <association property="politics" javaType="com.kael.hr.entity.Politics">
            <id property="id" column="poli_id" />
            <result property="name" column="politics" />
        </association>
        <association property="nation" javaType="com.kael.hr.entity.Nation">
            <id property="id" column="nation_id" />
            <result property="name" column="nation" />
        </association>
    </resultMap>

    <select id="findEmpCountByDept" resultType="long">
        select count(*) from employee where department_id = #{deptId} and work_state = 1
    </select>
    
    <select id="findEmpByPageCondition" resultMap="employeeMap">
        select
            emp.id,
            emp.name,
            emp.gender,
            emp.birthday,
            emp.id_card,
            emp.wedlock,
            nat.name AS nation,nat.id as nation_id,
            emp.native_place,
            emp.email,
            emp.phone,
            emp.address,
            dept.name AS department,dept.id as dept_id,
            jol.name AS jobLevel,jol.id as jol_id,
            poli.name as politics,poli.id as poli_id,
            pos.name AS pos,pos.id as pos_id,
            emp.engage_form,
            emp.tiptop_degree,
            emp.specialty,
            emp.school,
            emp.begin_date,
            emp.work_state,
            emp.work_id,
            emp.contract_term,
            emp.conversion_time,
            emp.begin_contract,
            emp.end_contract
        from
            employee AS emp
                INNER JOIN
            department AS dept ON emp.department_id = dept.id
                INNER JOIN
            nation AS nat ON emp.nation_id = nat.id
                INNER JOIN
            politics_status AS poli ON emp.politic_id = poli.id
                INNER JOIN
            position AS pos ON emp.pos_id = pos.id
                INNER JOIN
            job_level AS jol ON emp.job_level_id = jol.id
        <where>
            <if test="cond!=null">
                <if test="cond.name !=null and cond.name !=''">
                    emp.name=#{cond.name}
                </if>
                <if test="cond.politicId != null and cond.politicId != ''">
                    and emp.politic_id=#{cond.politicId}
                </if>
                <if test="cond.nationId != null and cond.nationId != ''">
                    and  emp.nation_id=#{cond.nationId}
                </if>
                <if test="cond.posId !=null and cond.posId != ''">
                    and emp.pos_id=#{cond.posId}
                </if>
                <if test="cond.jobLevelId !=null and cond.jobLevelId != ''">
                    and emp.job_level_id=#{cond.jobLevelId}
                </if>
                <if test="cond.engageForm != null and cond.engageForm != ''">
                    and emp.engage_form=#{cond.engageForm}
                </if>
                <if test="cond.departmentId !=null and cond.departmentId != ''">
                    and emp.department_id = #{cond.departmentId}
                </if>

                <if test="cond.date !=null and cond.date.length==2">
                    and emp.begin_date between #{cond.date[0]} and #{cond.date[1]}
                </if>

            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>

    <select id="getCountEmployeeByCondition" resultType="long">
        select
            count(*)
        from
            employee
        <where>
            <if test="cond!=null">
                <if test="cond.politicId != null and cond.politicId != ''">
                    politic_id=#{cond.politicId}
                </if>
                <if test="cond.nationId != null and cond.nationId != ''">
                    and nation_id=#{cond.nationId}
                </if>
                <if test="cond.posId !=null and cond.posId != ''">
                    and pos_id=#{cond.posId}
                </if>
                <if test="cond.jobLevelId !=null and cond.jobLevelId != ''">
                    and job_level_id=#{cond.jobLevelId}
                </if>
                <if test="cond.engageForm != null and cond.engageForm != ''">
                    and engage_form=#{cond.engageForm}
                </if>
                <if test="cond.departmentId !=null and cond.departmentId != ''">
                    and department_id = #{cond.departmentId}
                </if>

                <if test="cond.date !=null and cond.date.length==2">
                    and begin_date between #{cond.date[0]} and #{cond.date[1]}
                </if>

            </if>
        </where>
    </select>
    <select id="getCountEmpByCurrentDay" resultType="int">
        select count(*) from employee where work_id like "${currentDay}%" for update
    </select>

    <insert id="saveEmployee">
        insert into employee (
            name, gender,birthday, id_card, wedlock,
            nation_id, native_place, politic_id, email, phone,
            address, department_id, job_level_id, pos_id, engage_form,
            tiptop_degree, specialty, school, begin_date, work_state,
            work_id, contract_term, conversion_time, begin_contract, end_contract)
        value (
            #{emp.name}, #{emp.gender}, #{emp.birthday}, #{emp.idCard}, #{emp.wedlock},
            #{emp.nationId}, #{emp.nativePlace}, #{emp.politicsId}, #{emp.email}, #{emp.phone},
            #{emp.address}, #{emp.departmentId}, #{emp.jobLevelId}, #{emp.posId}, #{emp.engageForm},
            #{emp.tiptopDegree}, #{emp.specialty}, #{emp.school}, #{emp.beginDate}, "在职",
            #{emp.workId}, #{emp.contractTerm}, #{emp.conversionTime}, #{emp.beginContract}, #{emp.endContract})
    </insert>

    <update id="updateEmployee">
        update
            employee
        set
            name=#{emp.name},
            gender=#{emp.gender},
            birthday=#{emp.birthday},
            id_card=#{emp.idCard},
            wedlock=#{emp.wedlock},
            nation_id=#{emp.nationId},
            native_place=#{emp.nativePlace},
            politic_id=#{emp.politicsId},
            email=#{emp.email},
            phone=#{emp.phone},
            address=#{emp.address},
            department_id=#{emp.departmentId},
            job_level_id=#{emp.jobLevelId},
            pos_id=#{emp.posId},
            engage_form=#{emp.engageForm},
            tiptop_degree=#{emp.tiptopDegree},
            specialty=#{emp.specialty},
            school=#{emp.school},
            begin_date=#{emp.beginDate},
            contract_term=#{emp.contractTerm},
            conversion_time=#{emp.conversionTime},
            begin_contract=#{emp.beginContract},
            end_contract=#{emp.endContract}
        where
            work_id=#{emp.workId}
    </update>
</mapper>