<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kael.hr.mapper.NationMapper">
    <select id="findAllNations" resultType="com.kael.hr.entity.Nation">
        select * from nation
    </select>

    <select id="findNationNameById" resultType="string">
        select name from nation where id = #{id}
    </select>
</mapper>